
			body {
			  	background: #efefef;
			}
			p {
				left: 42%;
			   	position: absolute;
			   	top: 50%;
			   	font-family: Helvetica, 'Helvetica Neue', sans-serif;
				letter-spacing: 1px;
				color: #a0a0a0;
				text-align: center;
			}
			img {   
			   	left: 45%;
			   	position: absolute;
			   	top: 40%;
			}
			@media only screen and (max-width: 360px) {
			  	img {		   
				  	left: 35%;
				  	position: absolute;
				  	top: 40%;
				}
				p{
					left: 15%;
				  	position: absolute;
				  	top: 60%;
				  	font-family: Helvetica, 'Helvetica Neue', sans-serif;
				  	color: #a0a0a0;
					text-align: center;
				}
			}
